body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.container {
    width: 632px;
    height: 100px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    background-color: #000000;
    height: 100px;
    width: 632px;
    margin-right: auto;
    color: #FF0000;
    font-family: 'Monoton', cursive;
    font-size: 25px;
    border-bottom-style: double;
    border-spacing: 15px;
    display: inline-block;
} 

.large-letter-group {
    justify-content: center;
    align-items: flex-end;
    background-color: #000000;
    height: 650px;
    margin-top: -250px
}

.large-letter-group h1 {
    background-color: #000000;
    margin-left: 80px;
    margin-top: 100px;
    height: 650px;
    width: 475px;
    font-family: 'Monoton', cursive;
    font-size: 514px;
    font-weight: 100;
    color: #FFF500;
}

.letter-analysis {
    position: relative;
    z-index: 99;
    height: 700px;
    width: 600px;
    left:10%;
    margin: 0;
    padding: 0; 
    margin-top: -873px;
    margin-left: -46px;
    visibility: hidden;
}

.letter-analysis {
    visibility: hidden;
}


.letter-container img.jordan {
    visibility:visible;
}

.large-letter-group h1.glow {
    text-shadow:0px 0px 1000px #FF0000;
}

.font-name {
    color: #FF0000;
    font-family: 'Monoton', cursive;
    margin-top: 50px;
    font-size: 40px;
    border-bottom: double;
    margin-right: 400px;
}

.font-description {
    color: #FFFFFF;
    font: 'Helvetica';
    text-align: left;
    margin-top: -25px;
}

.letter-container img#button-off {
    margin-left: 610px;
    margin-top: -150px; 
    z-index: 99px;
}

.letters img#letter-board {
    margin-top: -70px;
    margin-left: -40px
}

.letter-options h1 {
    height: 100px;
    color: #000000;
    font-family: 'Monoton', cursive;
    font-size: 40px;
    justify-content: center;
    margin-top: -140px;
    margin-bottom: auto
    display: inline-block
}

.make-copy {
    background-color: #9D9D9D;
    margin-top: 50px;
}

footer {
    display: flex;
    margin-top: 50px;
}

footer img {
    height: 95px;
    width: 95px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-top: -10px;
    border: double;
}

footer .author-heading {
    width: 300px;
    height: 30px;
    background-color: #000000;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    color: red;
    text-align: left;
    margin-top: -50px;
}

footer .author-description {
    color: #FF0000;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    margin-top: -15px
    
}

footer .sources-section h3 {
    width: 100px;
    background-color: #000000;
    margin-right: 100px;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    color: #FF1D00;
    margin-top: -28px;
}

.sources-information-1 {
    width: 398px;
    background-color: #000000;
    font-family: 'Helvetica', serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
}
    
.sources-information-2 {
    width: 398px;
    background-color: #000000;
    font-family: 'Helvetica', serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
}
    
