body {
    padding: 0;
    margin: 0;
    background-color: #EDDCC4;
}

.container {
    width: 768px;
    height: 1021px;
    background-color:#EDDCC4;
    margin-left: auto;
    margin-right: auto;
}

.title {
    height: 97px;
    width: 725px;
    margin-left: 21.5px;
    margin-top: 25px;
    font-family: 'IM Fell Great Primer', serif;
    font-size: 70px;
    font-style: italic;
    text-align: center;
    color: #620000;
}

.quiz { 
    background-color: #FF6262;
    height: 700px;
    width: 725px;
    margin-left: 21.5px;
    margin-top: 20px;
}

.submit {
    background-color: #00FF2B;
    height:54px; 
    width: 273px;
    margin-left: 21.5px;
    margin-top: 20px;
}
    
.score {
    background-color: #FF6262;
    height: 40px;
    width: 187px;
    margin-top: 20px;
    margin-left: 21.5px
}
    .navigation_panel {
    display: flex;
    margin-left: 440px;
    margin-top: 10px;
}

.compass {
    background-color: #EDDCC4;
    height: 61px;
    width: 58px;
}

.navigation {
    background-color: #EDDCC4;
    height: 61px;
    width: 273px;
    margin-right: 25px;
    font-family: 'IM Fell Great Primer', 'serif';
    color: #620000;
    font-style: italic;
    font-size: 40px;