body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.container {
    width: 768px;
    height: 1021px;
    background-color:#000000;
    margin-left: auto;
    margin-right: auto;
}

.title {
    background-color: #620000;
/*    margin-left: 400px;*/
/*    margin-bottom: -975px;*/
    font-family: 'IM Fell Great Primer', cursive;
    text-align: center;

}

h1 {
    margin-left: 375px;
    color: #620000;
    font-size: 45px;
    font-family: 'IM Fell Great Primer', cursive;
    position: absolute;
    top:0px;

}

.california {
    position: relative;
}

img.california {
    height: 1024px;
    width: 768px;
    margin-top: 300px;
    z-index: 99px;
}