#green-froggie {
    position: absolute;
    top: 78.75%;
    left: 19.755%;
}


#rel-lily-pad {
    position: relative;
    bottom: -111%;
    left: 11.2%;
}

#gold-froggie {
    position: fixed;
    top: 70%;
    right: -1%;
    left: unset;
    z-index: 99;
}

#red-froggie {
    position: static;
    top: 2739px;
    right: 0;
    z-index: 99;
    display: block;
    margin-bottom: 6px;
}