body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}
.container {
    width: 632px;
    height: 1034px;
    background-color: #DAD3D1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.title {
    color: #A35998;
}