body {
    padding: 0;
    margin: 0;
    background-color: #DAD3D1;
}
.title {
    color: #A35998;
}

.container {
     width: 1264px;
    height: 1500px;
    background-color: #DAD3D1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
     z-index: 99;
    color: #A35998;
}

.title h1 {
    color: #5E2543;
    font-size: 60px;
    margin-top: -5px;
}

.web-design {
    color: #A35998;
    font-size: 25px;
    margin-top: -40px;
    border-bottom-style: double;
}

.container #background{
    position: absolute;
    justify-content: center;
}

.container #profile {
    width: 100px;
    height: 100px; 
    margin-top: -50px;
    border-style:groove;
    margin-top: -150px;
}

#profile {
    margin-top: -150px;
}

a {
    color: #5E2543;
    display: block;
    padding: 3px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.projects 
}
