body {
    padding: 0;
    margin: 0;
    background-color: #EDDCC4;
}

.container {
    width: 768px;
    height: 1021px;
    background-color:#EDDCC4;
    margin-left: auto;
    margin-right: auto;
}

.ocean {
    background-color: #C8D4CA;
    height: 1200px;
    width: 29.96%;
    position: absolute;
    left:0;
    top:0;
}

.land {
    background-color: #EDDCC4;
    height: 600px;
    width: 450px;
    position: absolute;
    top: 0px;
    right: 0px;
    
}

h1 {
    background-color: #EDDCC4;
    height: 140px;
    width: 361px;
    margin-left: 385px;
    color: #620000;
    font-family: 'IM Fell Great Primer', italic;
    font-style: italic;
    font-size: 70px;
    margin-top: 15px;
    text-align: center;
}

.quiz {
    background-color:#EDDCC4;
    border: 1px solid #620000;
    color: #620000;
    height: 55px;
    width: 339px;
    margin-left: 395px;
    margin-top: 9.5px;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-size: 36px;
    margin-top: 15px;
    text-align: center;
}

.container_2 {
    position: absolute;
    top: 10px;
}
.mission_1 {
    margin-left: 65px;
    margin-top: 36px;
    display: flex;
}

.mission_1_pic {
    height: 60px;
    width: 40px;
    
}

.mission_1_name {
    background-color:#C4AA97;
    border: 1px solid #620000;
    color: #620000;
    height: 30px;
    width: 223px;
    margin-left: 5px;
    margin-top: 30px;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-size: 18px;
}

.mission_2 {
    margin-left: 150px;
    margin-top: 70px;
    display: flex;
}

.mission_2_pic {
    height: 60px;
    width: 40px;
    
}

.mission_2_name {
    background-color:#C4AA97;
    border: 1px solid #620000;
    color: #620000;
    height: 30px;
    width: 223px;
    margin-left: 5px;
    margin-top: 30px;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-size: 18px;
    
}

.mission_3 {
    margin-left: 200px;
    margin-top: 50px;
    display: flex;
}

.mission_3_pic {
    height: 60px;
    width: 40px;
    
}

.mission_3_name {
    background-color:#C4AA97;
    border: 1px solid #620000;
    color: #620000;
    height: 30px;
    width: 223px;
    margin-left: 5px;
    margin-top: 30px;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-size: 18px;
}

.mission_4 {
    margin-left: 275px;
    margin-top: 50px;
    display: flex;
}

.mission_4_pic {
    height: 60px;
    width: 40px;
    
}

.mission_4_name {
    background-color:#C4AA97;
    border: 1px solid #620000;
    color: #620000;
    height: 30px;
    width: 223px;
    margin-left: 5px;
    margin-top: 30px;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-size: 18px;
    
}

.mission_5 {
    margin-left: 425px;
    margin-top: 50px;
    display: flex;
}

.mission_5_pic {
    height: 60px;
    width: 40px;
    
}

.mission_5_name {
    background-color:#C4AA97;
    border: 1px solid #620000;
    color: #620000;
    height: 30px;
    width: 180px;
    margin-left: 5px;
    margin-top: 30px;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-size: 18px;
    
}

.mission_6 {
    margin-left: 600px;
    margin-top: 50px;
    display: flex;
}

.mission_6_pic {
    height: 60px;
    width: 40px;
    
}

.mission_6_name {
    background-color:#C4AA97;
    border: 1px solid #620000;
    color: #620000;
    height: 30px;
    width: 100px;
    margin-left: 5px;
    margin-top: 30px;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-size: 18px;
    
}

.california {
    position: relative;
/*    top: 1000px;*/
    z-index: 1; 
}

#compass {
    position: absolute;
    bottom: 75px;
    left: 50px;
}
